/*
  * Copyright (c) 2019 Callender-Consulting, LLC
  *
  * SPDX-License-Identifier: Apache-2.0
  */


/*
 *  The Arduino-defined pins for SPI-CLK is D10 (PA5), but PA5 is tied to LED2 (LD2).
 *  The docs directory has workaround details --
 *      The pin D3 (PB3) is wired to the ICSP SPI-CLK pin on the LoRa shield.
 *      The SV2 jumper is set to the right position, (2-1), on the LoRa shield.
 */
&spi1 {

    status = "okay";
    cs-gpios = <&gpiob 6 0>;  // D10  SPI-CS
                              // D3   SPI-CLK
                              // D12  SPI-MISO
                              // D11  SPI-MOSI

    sx1276@0 {
        compatible = "semtech,sx1276";
        reg = <0>;
        spi-max-frequency = <4000000>;
        label = "SX1276";
        reset-gpios = <&gpioc 7 GPIO_ACTIVE_HIGH>;   // D9
        dio-gpios   = <&gpioa 10 GPIO_ACTIVE_HIGH>;  // D2
    };
};
