/*
  * Copyright (c) 2019 Callender-Consulting, LLC
  *
  * SPDX-License-Identifier: Apache-2.0
  */


&spi1 {

    status = "okay";
    cs-gpios = <&gpiob 6 0>;  // D10
                              // D13  SPI-CLK
                              // D12  SPI-MISO
                              // D11  SPI-MOSI

    sx1276@0 {
        compatible = "semtech,sx1276";
        reg = <0>;
        spi-max-frequency = <4000000>;
        label = "SX1276";
        reset-gpios = <&gpioc 7 GPIO_ACTIVE_HIGH>;   // D9
        dio-gpios   = <&gpioa 10 GPIO_ACTIVE_HIGH>;  // D2
    };
};
